export PYTHONPATH="$PYTHONPATH:$PWD"

PYTHONPATH=.

MODE=DEV

REDIS_HOST=localhost
REDIS_PORT=6379

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=gpt_surfers
DB_USER=gpt_surfers_user
DB_PASS=%mP7WGrras8t

BOT_TOKEN=8069813977:AAFSuZwQ43at-csVhHsW0g_NmqmfMVkCFq8

ADMINT_CHAT=-5080691714